@model RuPM.Controllers.WikiController.CommentsModel
<div class="comments">@*<razor>*@@foreach (var comment in Model.Comments) {
<article class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-@comment.Id"><header>
<h4>@comment.Id</h4>
<time>@comment.CreatedDate.ToString("dd/MM/yyyy hh:mm")</time></header>
<section>
<p>@comment.Text</p>
</section>
<footer><a rel="nofollow" class="comment-reply-link" href="https://edu.rubius.com/a-ty-znaesh-chto-takoe-scada/?replytocom=8#respond" onclick="return addComment.moveForm( &quot;comment-8&quot;, &quot;8&quot;, &quot;respond&quot;, &quot;232&quot; )" aria-label="Reply to admin">Reply</a> <a class="comment-edit-link" href="https://edu.rubius.com/wp-admin/comment.php?action=editcomment&amp;c=8">Edited</a></footer></article>
}@*</razor>*@</div>
<div id="respond" class="comment-respond">@*<razor>*@
<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
@using (Html.BeginForm("CreateComment", "Wiki", FormMethod.Post, new {@class="comment-form"})) {
<p class="comment-form-comment">@Html.ValidationSummary() @Html.HiddenFor(x => x.Form.WikiPageId) @Html.TextAreaFor(x => x.Form.Text, new {rows=8})</p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment" /></p>
}@*</razor>*@</div>
<!-- #respond -->
<p></p>