@*<!---*@ @{
Layout = "~/Views/Wiki/12.cshtml";
} @*--->*@
@*<razor>*@@{ var actionName = "GetPage"; }@*</razor>*@@*<razor>*@
<div class="b-last-activity">
<ul class="b-last-activity__list">@foreach (var wikiPage in Model.Pages) {
<li class="post type-post status-publish format-standard sticky hentry">
<div class="b-last-activity__left"><a href="@Url.Action(actionName, new{pageId=wikiPage.Page.Id})"> @wikiPage.Page.PageTitle </a>
<div class="b-last-activity__tags">@foreach (var tag in wikiPage.Tags) { <a href="tag/@tag.TagForLink/" rel="tag">@tag.TagForLink</a> }</div>
</div>
<div class="right"><span class="b-last-activity__subinfo">@wikiPage.Page.CreatedDate.ToString("dd/MM/yyyy")</span> <span class="b-last-activity__subinfo"><i class="fa fa-comment-o" aria-hidden="true"></i> @wikiPage.CommentsCount</span></div>
</li>
}</ul>
</div>
@*</razor>*@
